.results {
  width: 100vw;
  min-height: 70vh;
  display: grid;
  place-content: start;
  padding: padding(largest);
  gap: gap(medium);
}

.results-container {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: gap(medium);
}

.recipe-card {
  width: min(85vw, 364px);
  min-height: 554px;
  display: grid;
  gap: gap(small);
  padding: padding(medium);
  background-color: $background-dark;
  border-radius: 1rem;
  @include shadow();

  button {
    width: min(71vw, 300px);
    padding: padding(smallest);
    background-color: $primary-color;
    border: 3px solid $secondary-color;
    border-radius: 12px;
    align-self: end;
  }
}

.recipe-card-image {
  width: min(71vw, 300px);
  height: min(71vw, 300px);
  aspect-ratio: 1/1;
  border-radius: 1rem;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    object-fit: cover;
  }

  h3 {
    font-size: max(1rem, calc(0.75vw + 1rem));
  }
}

.recipe-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: gap(small);
}

.recipe-card-cta {
  display: flex;
  margin-top: auto;
}

.search-to-start {
  font-size: x-large;
}

@media (max-width: 1377px) {
  .results-container {
    justify-content: center;
  }
}
