//* colors
$primary-color: #f2921d;
$secondary-color: #f2e088;
$text-color: #261911;
$color-one: #d9b596;
$background-light: #f2c46d;
$background-dark: #8c5626;

//* paddings
$safe-zone: min(11.5rem, 8%);
